<div class="container-fluid d-flex flex-wrap">
  <div class="" style="height: 100%; width: 20%">
    <img [src]="ImageURL" style="height: 100%; width: 100%" />
  </div>
  <div class="container bg-light p-5" style="height: 100%; width: 80%">
    <div class="row">
      <div class="col-md-8 mb-5 fs-4">Movie</div>
      <form>
        <div class="d-flex">
          <div class="form-group mb-4 w-50 me-1">
            <label for="exampleInputEmail1">Movie Name</label>
            <input type="text" class="form-control" id="movieName" readonly />
            <small
              id="movieNameHelp"
              class="form-text text-danger"
              style="display: none"
              >Movie Name Is Required</small
            >
          </div>
          <div class="form-group mb-4 w-50">
            <label for="exampleInputPassword1">Price</label>
            <input type="number" class="form-control" id="price" readonly />
            <small
              id="priceHelp"
              class="form-text text-danger"
              style="display: none"
              >Image Url Is Required</small
            >
          </div>
        </div>
        <div class="form-group mb-4">
          <label for="exampleInputPassword1">Movie Description</label>
          <input
            type="text"
            class="form-control"
            id="movieDescription"
            readonly
          />
          <small
            id="movieDescriptionHelp"
            class="form-text text-danger"
            style="display: none"
            >Place Description</small
          >
        </div>
        <div class="d-flex mb-4">
          <div class="form-group mb-4 w-25">
            <label for="exampleInputPassword1">Quentity</label>
            <input
              type="number"
              class="form-control"
              id="quentity"
              (keyup)="handleChange()"
            />
            <small
              id="quentityHelp"
              class="form-text text-danger"
              style="display: none"
              >Please Enter Quentity</small
            >
          </div>
          <div class="form-group mb-4 w-25 mx-1">
            <label for="exampleInputPassword1">Total Price</label>
            <input
              type="number"
              class="form-control"
              id="totalPrice"
              readonly
            />
            <small
              id="totalPriceHelp"
              class="form-text text-danger"
              style="display: none"
              >Please Enter Total Price</small
            >
          </div>
          <div class="form-group mb-4 w-25 mx-1">
            <label for="exampleInputPassword1">Screen Number</label>
            <input
              type="number"
              class="form-control"
              id="screenNumber"
              readonly
            />
            <small
              id="screenNumberHelp"
              class="form-text text-danger"
              style="display: none"
              >Please Enter Screen No.</small
            >
          </div>
          <div class="form-group mb-4 w-25">
            <label for="exampleInputPassword1">Time</label>
            <input type="time" class="form-control" id="time" readonly />
            <small
              id="timeHelp"
              class="form-text text-danger"
              style="display: none"
              >Please Enter Time</small
            >
          </div>
        </div>
        <button
          type="button"
          class="btn btn-primary float-start"
          (click)="handleSubmit()"
        >
          Submit
        </button>
        <button
          type="button"
          class="btn btn-light float-end"
          (click)="handleClear()"
        >
          Clear
        </button>
      </form>
    </div>
  </div>
</div>
